<div class="w-48 flex flex-col items-center gap-2.5 mb-2.5 max-h-[252px]">
  <div class="w-[116px] h-[116px] bg-gray-200 rounded-full">
    <%= image_tag image_path, alt: 'author_photo', class: "h-[116px] w-auto rounded-full" %>

  </div>
  <div class="font-semibold text-xl_short text-gray-700 text-center"><%= full_name %></div>
  <div class="font-medium text-xs text-center text-gray-500"><%= description %></div>
</div>