<div class="flex flex-col items-center gap-2.5 mb-10 max-h-[250px]">
  <div class="size-[150px] bg-card_gray-200 rounded-full">
    <% if image_path.present? %>
      <%= image_tag image_path, alt: 'author_photo', class: "size-[150px] rounded-full leading-[150px] text-center" %>
    <% end %>
  </div>
  <h1 class="font-semibold text-xl_short text-gray-700 text-center"><%= full_name %></h1>
  <p class="font-medium text-xs text-center text-gray-500"><%= description %></p>
</div>