<div class="container mx-auto mt-8">
  <%= render Educhain::Authors::Component.new(title: @authors_title) do |author|  %>
    <% @authors_items.each do |item| %>
      <% author.with_item(
           image_path: item.image_path,
           full_name: item.full_name,
           description: item.description,
           ) %>
    <% end %>
  <% end %>

  <%= render Educhain::Footer::Component.new(copyright: @footer_copyright) do |footer|  %>
    <%= footer.with_logo(width: @logo_width, path: @logo_path, text: @logo_text) %>
    <% @footer_items.each do |item| %>
      <% footer.with_item(
           width: item.width,
           key: item.key,
           links: item.links
         ) %>
    <% end %>
  <% end %>
</div>
