<div class="container mx-auto mt-8">
  <%= render Educhain::Footer::Component.new(copyright: @copyright) do |footer|  %>
    <%= footer.with_logo(width: @width, path: @logo_path, text: @text) %>
    <% @items.each do |item| %>
      <% footer.with_item(
           width: item.width,
           key: item.key,
           links: item.links
         ) %>
    <% end %>
  <% end %>
</div>
